<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 col-xl-offset-4 col-md-offset-3 col-xs-offset-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          CondoSimples
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Entrar no CondoSimples</h3>
          </header>
          <div class="widget-body">
            <p class="widget-login-info">
              Informe seus dados de login no sistema
            </p>
            <p class="widget-login-info">
              <!--Don't have an account? Sign up now!-->
            </p>
            <form class="login-form mt-lg" (ngSubmit)="login()">
              <div class="row">
                <div class="alert ng-isolate-scope alert-danger alert-sm alert-dismissable" role="alert" *ngIf="hasErrors">
                  <button ng-show="closeable" type="button" class="close" (click)="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Fechar</span>
                  </button>
                    {{message}}
                </div>
                <div class="alert ng-isolate-scope alert-info alert-sm alert-dismissable" role="alert" *ngIf="pending">
                  <button ng-show="closeable" type="button" class="close" (click)="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                  </button>
                    Entrando...
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="authInfo.username" id="exampleInputEmail1" placeholder="Usuário">
              </div>
              <div class="form-group">
                <input class="form-control" id="pswd" type="password" [(ngModel)]="authInfo.password" placeholder="Senha">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar pull-xs-right m-t-1">
                  <!--<button type="button" class="btn btn-secondary btn-sm">Create an Account</button>-->
                  <button class="btn btn-inverse btn-sm" (click)="login()">Entrar</button>
                </div>
              </div>
              <div class="row m-t-1">
                <div class="col-md-6 col-md-push-6">
                  <div class="clearfix">
                    <div class="abc-checkbox widget-login-info pull-xs-right ml-n-lg">
                      <!--<input type="checkbox" id="checkbox1" value="1">-->
                      <!--<label for="checkbox1">Keep me signed in </label>-->
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-md-pull-6">
                  <a class="mr-n-lg" href="#">Esqueceu sua senha?</a>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    2016 &copy; DoItSmart CondoSimples
  </footer>
</div>
