<!DOCTYPE html>
<html lang="en">
<head>

    <title>Client's app</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Client App Being Tracked">

    <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">

</head>
<base href="/">
<body>
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand logoicon-digitais">RD Client</a>
        </div>
       <nav class="collapse navbar-collapse"> 
            <ul class="nav navbar-nav">
            <li>
              <a href="static/views/home/home.html" >
              <span class="icon">
                  <i class="fa fa-home"></i>
              </span>
                Home
              </a>
            </li>
            <li>
              <a href="static/views/price/price.html" >
              <span class="icon">
                  <i class="fa fa-money"></i>
              </span>
                Price
              </a>
            </li>
                <li>
              <a href="static/views/contact/contact.html">
              <span class="icon">
                  <i class="fa fa-user"></i>
              </span>
                Contact
              </a>
            </li>
          </ul>
        </nav>
    </div>
    <div class="container">

       <h4 class="page-title">contact <small><small>Form</small></small></h4>

		<div class="panel panel-default col-md-6">
      <div class="panel-body">
  			<form class="form-horizontal">
  			<div class="form-group">
  				<label>Name</label>
  				<input class="form-control" id="name" onchange="validateFields()" type="text" name="nameField" required>
  			</div>

  			<div class="form-group">
  				<label>Email</label>
  				<input type="email" id="email" onchange="validateFields()" class="form-control" name="emailField" required >
  			</div>
  			  <button type="submit" id="submit" disabled onClick="submitUser()" class="btn btn-success">Submit</button>
  			</form>
        </div>
		</div>
    </div>

    <script src="/static/node_modules/tether/dist/js/tether.js"></script>
    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script>

        function submitUser(){
        	var name = $('#name').val();
        	var email = $('#email').val();
        	sessionStorage.setItem('e-mail', email);
    			sessionStorage.setItem('name', name);
    			window.location = "static/views/home/home.html"
        }

        function validateFields(){
          var name = $('#name').val();
          var email = $('#email').val();
          var valid = name.length > 0 && email.length > 0;
          if(valid){
            $('#submit').prop('disabled',  false);
          } else {
            $('#submit').prop('disabled',  true);
          }
        }
    </script>
    <script src="/static/javascripts/application.js"></script>
</body>
</html>